/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* BODY */


#wrapper {
    width: 95%;
    padding: 2.5%;
    padding-top: 0;
    text-align: center;
}

/* BODY ends */

/* FONTS */
h1 {
    font-family: rubik, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.7em;
    color: #1D1F22;
}

h2 {
    font-family: rubik, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.5em;
    color: #1D1F22;
}

li {
    font-family: rubik, sans-serif;
    font-weight: 900;
    font-style: normal;
}

p,
h3,
h4 {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
}



/* FONTS END */
/* HEADER */
header {
    background-color: #1D1F22;
    color: white;
    position: fixed;
    width: 95%;
    z-index: 2;
}

Header img {
    width: 40%;
    margin: 5px;
}

.stroke a {
    color: #1D1F22;
    letter-spacing: 3px;
}

.stroke a {
    text-decoration: none;
    -webkit-text-stroke: 2px white;
}

.stroke a:link {
    text-decoration: none;
    color: #1D1F22;
}


.tickets {
    border: 2px solid;
    border-color: #ffffff;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 2%;
    text-decoration: none;
    color: white;
}

.tickets a {
    color: #ffffff;
    text-decoration: none;
}

#flex1 {
    display: none;
    flex-direction: row;
    top: 5px;
    right: 5px;
}

div .burger {
    width: 7px;
    height: 7px;
    background-color: white;
    margin: 5px 0;
    border-radius: 50px;
}

#burgerbar {
    position: absolute;
    right: 7.6%;
    top: 15px;
    background-color: #1D1F22;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

#tabletlogo {
    display: none;
}

#mobillogo {
    width: 17%;
    border-radius: 50%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

#burgermenu li {
    font-size: 3em;
    margin-bottom: 7%;
}

#burgermenu {
    display: none;
}

#closemenu {
    display: none;
    color: white;
    position: absolute;
    right: 5%;
    top: 20px;
    background-color: #1D1F22;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    font-size: 2em;
}

.fade-in-top {
    -webkit-animation: fade-in-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-in {
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

#burgermenu img {
    width: 50%;
}

#flexicon {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#instalogo {
    margin-left: 10%;
}

.listItems {
    margin-top: 7.5%;
}


/*
/* MAIN */

main {
    padding-top: 51.6px;
}

#mobile-background {
    width: 100%;
    margin: 0 0 10% 0;
}

h1 {
    margin-bottom: 2%;
}


.flex3 {
    background-color: #ffffff;
    padding: 15%;
}

#billede2021 {
    margin: 0 0 3% 0;
}

.demo {
    font-family: rubik, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 3.5em;
    margin: 5%;
}

#section2 {
    background-color: #EBD6E8;
    padding: 6% 6% 10% 6%;
}

.headlinerText {
    background-color: white;
    padding: 4%;
}

.headlinerText p,
h3,
h4 {
    text-align: left;
}

.headlinerText h3 {
    margin: 0 0 4% 0;
}

.headlinerText p {
    margin: 0 0 4% 0;
}

.headlinerText h3,
h4 {
    font-weight: bold;
}

#section2 img {
    width: 100%;
}

#section3 {
    background-color: #A9DFED;
    padding: 6% 6% 10% 6%;
}

#section3 img {
    width: 100%
}

#section4 {
    background-color: #6A74B7;
    padding: 6% 6% 10% 6%;
}

#section4 img {
    width: 100%
}

#flex4 {
    display: flex;
    flex-direction: row;
}

#flex5 {
    display: flex;
    flex-direction: row;
}

#flex6 {
    display: flex;
    flex-direction: row;
}


.marginimages {
    margin: 2.5% 2.5% 0 2.5%;
}

#countdown {
    margin: 10% 0 0 0;
}

.absolute .above {
    width: 95%;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 2;
}

.absolute1 {
    position: absolute;
    z-index: -2;
    width: 100%;
}


#musicians {
    width: 100%;
}

.relative .above {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    z-index: 1
}

.under {
    z-index: -1;
}

.absolute1,
.container,
.row {
    width: 95%;
}

.sm-green {
    width: 100px;
    height: 100px;
    background: #D8B7F6;
    margin: 20% 0 0 7%;

}

.sm-purple {
    width: 80px;
    height: 80px;
    background: #9DA0F9;
    border-radius: 50%;
    margin: 0 0 0 80%;
}

.xs-green {
    width: 100px;
    height: 200px;
    background: #886FDE;
    margin: 40% 0 0 15%;
}

.md-green {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #DC90F3;
    margin: 10% 0 0 45%;
}

#flex8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 100px;
    margin-bottom: 100px;
}

#flex8 img {
    width: 80%;

}

#flex8 h1 {
    margin: 30% 0 5% 0;

}

#flex8 h2 {
    margin: 5% 0 15% 0;


}

.tickets1 {
    border: 2px solid;
    padding: 10%;
    color: white;
    background-color: #1d1f22;
    background-image: url(../images/tickets1.png);
    background-size: contain;
    width: 157px;
    margin: 25px auto;
}

.oneday {
    font-weight: 500;
    font-size: .7em;

}

.tickets1 h4 {
    font-family: roboto, sans-serif;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    font-size: 2em;
    margin-top: .7rem;
}

.tickets1 h5 {
    font-family: roboto, sans-serif;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    font-size: 1.7em;
    margin-bottom: .5rem;
}

.tickets1 p {
    padding-top: 3%;
}

.flex10 {
    display: flex;

    text-align: center;
    justify-content: center
}

#dkk {
    font-size: 1em;
    font-weight: 900;
    padding-top: 1.5rem;
}

.tickets1 a {
    background-color: #1d1f22;
    color: #ffffff;
    border: 2px solid;
    border-color: #ffffff;
    font-family: roboto, sans-serif;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    padding: 5%;
    margin-top: 1rem;
}

#sale {
    font-size: .7em;
}

.price {
    margin-bottom: 2rem;
}

#flex11 {
    width: 100%;
    z-index: 1;
}

/* MAIN ends */
/* FOOTER */

footer {
    background-color: #1d1F22;
    color: white;
    padding: 10%;
    text-align: center;

}

#infofot {
    text-align: left;
}

#infofot h4 {
    font-weight: bolder;
}

#fotlinks {
    margin: 8% 0 0 0;
}

#flex2 {
    display: flex;
    width: 80%;
    margin: 0 auto;

}

#flex2 img {
    width: 45%;
    margin: 0 auto;
    margin-bottom: 15px;
}



footer #copyright {
    width: 80%;
    text-align: center;
    padding-top: 8%;
}

/* FOOTER ends */

/* Media queries */
/* MOBILE */
@media screen and (min-width: 0px) {
    video {
        display: none;
    }

    .pcthings {
        display: none;
    }

    .tabletthings {
        display: none;
    }

    #pclogo {
        display: none;
    }

    #countdiv {
        display: none;
    }

}

@media screen and (min-height: 700px) {
    #burgermenu li {
        padding: 0.75%;
    }


}

@media screen and (min-height: 800px) {
    #burgermenu li {
        padding: 2.9%;
    }
}

/* TABLET */
@media screen and (min-width: 700px) {
    .mobilethings {
        display: none;
    }

    #mobile-background {
        display: none;
    }

    .tabletthings {
        display: block;
    }

    video {
        display: block;
        width: 100%;
        margin-bottom: 5%;
    }

    #burgerbar {
        display: block;
    }

    #flex1 {
        display: none;
        flex-direction: row;
        width: 50%;
    }

    #flex1 li {
        margin: 0 5px 0 0;
    }

    #mobillogo {
        display: none;
    }

    #tabletlogo {
        display: block;
        width: 40%;
        margin: 2%;
    }

    div .burger {
        width: 40px;
        height: 7px;
        background-color: white;
        margin: 5px 0;
        border-radius: 50px;
    }

    #burgerbar {
        margin: 2%;
        right: 2%;
        top: 2%;
    }

    #burgermenu {
        width: 40%;
        font-size: 0.5em;
        position: absolute;
        right: 0%;
        top: 5%;
        background-color: #1D1F22;
        margin-top: 2.5%;
    }

    #burgermenu li {
        margin-bottom: 0;
    }

    .listItems {
        margin-top: 0;
    }

    #burgermenu li {
        padding-bottom: 1%;
    }

    .tickets {
        margin: 0;
        padding: 0;
    }

    #section2 #flex4 {
        justify-content: center;
        align-content: center;
        align-items: center;
        margin: 0 auto;
    }

    #section3 #flex5 {
        justify-content: center;
        align-content: center;
        align-items: center;
        margin: 0 auto;
    }

    #section4 #flex6 {
        justify-content: center;
        align-content: center;
        align-items: center;
        margin: 0 auto;
    }

    #section2 #banner2 {
        width: 45px;
        height: 200px;
        ;
        margin-top: 3%;
    }

    #section2 #banner1 {
        width: 45px;
        height: 200px;
        margin-top: 4%;
    }

    #section3 #banner4 {
        width: 45px;
        height: 125px;
        margin-top: 3%;
    }

    #section3 #banner3 {
        width: 45px;
        height: 125px;
        margin-top: 3%;
        margin-left: 1.5%;
    }

    #section4 #banner6 {
        width: 45px;
        height: 225px;
        margin-top: 3%;
    }

    #section4 #banner5 {
        width: 45px;
        height: 225px;
        margin-top: 3%;
        margin-left: 1.5%;
    }

    #section2 {
        background-color: #EBD6E8;
        padding: 2% 2% 2% 2%;
    }

    #section3 {
        background-color: #A9DFED;
        padding: 0% 2% 2% 2%;
    }

    #section4 {
        background-color: #6A74B7;
        padding: 0% 2% 2% 2%;
        margin-bottom: 10%;
    }

    #section6 {
        background-image: url(../images/ppattern1.png);
        background-size: cover;
        height: 250px;
        width: 100%;
        margin-bottom: 10%
    }

    #section5 {
        margin-bottom: 10%;
    }

    #buyme {
        font-family: rubik, sans-serif;
        font-weight: 900;
        font-style: normal;
        color: #ffffff;
        margin-top: 85px;
        font-size: 2em;
        background-color: #D54D59;
        padding: 2% 15% 2% 15%;
        border: 0;
        border-radius: 25px
    }

    #buyme:hover {
        background-color: #ffffff;
        color: #D54D59;
        border: 2px solid;
        border-color: #D54D59;
    }

    #flex3 {
        margin: 2%;
    }

    #flex7 {
        display: flex;
        flex-direction: row;
    }

    #infofot {
        display: flex;
        flex-direction: row;
    }

    #fotlinks {
        margin: 0
    }

    footer {
        background-image: url(../images/logo-pc.png);
        background-position: left;
        background-repeat: no-repeat;
        background-size: contain;
        padding: 5%;
    }

    #flex2 img {
        margin: 0 40% 0 0;
    }

    footer #copyright {
        width: 60%;
        padding-top: 6%;
    }

    #a1 {
        -webkit-text-stroke: 1px #ffffff;

    }

    #a1:hover {
        -webkit-text-stroke: 1px #fc5c9c;
        transition: 0.3s;
        color: #fc5c9c;
    }

    #a2 {
        -webkit-text-stroke: 1px #ffffff
    }

    #a2:hover {
        -webkit-text-stroke: 1px #ea7dc7;
        transition: 0.3s;
        color: #ea7dc7;
    }

    #a3 {
        -webkit-text-stroke: 1px #ffffff;
    }

    #a3:hover {
        -webkit-text-stroke: 1px #f5b5fc;
        transition: 0.3s;
        color: #f5b5fc;
    }

    #a4 {
        -webkit-text-stroke: 1px #ffffff;
    }

    #a4:hover {
        -webkit-text-stroke: 1px #74f9ff;
        transition: 0.3s;
        color: #74f9ff;
    }

    #a5 {
        -webkit-text-stroke: 1px #ffffff;
    }

    #a5:hover {
        -webkit-text-stroke: 1px #00e0ff;
        transition: 0.3s;
        color: #00e0ff;
    }

    #a5 {
        -webkit-text-stroke: 1px #ffffff;
    }

    #a6:hover {
        -webkit-text-stroke: 1px;
        transition: 0.3s;
        color: #00FF7F
    }

    .sm:hover {
        transform: scale(0.9);
    }

    #countdown {
        margin: 3% 0 0 0;
    }

    #flex8 h1 {
        margin: 15% 0 5% 0;
    }

    #flex8 img {
        width: 80%;
    }

    .flexmusician {
        display: flex;
        flex-direction: row;
    }

    #hide {
        display: none;
    }

    .sm-green {
        width: 200px;
        height: 200px;
        background: #D8B7F6;
        margin: 10% 0 0 7%;

    }

    .sm-purple {
        width: 180px;
        height: 180px;
        background: #9DA0F9;
        border-radius: 50%;
        margin: 0 0 0 90%;
    }

    .xs-green {
        width: 200px;
        height: 300px;
        background: #886FDE;
        margin: 30% 0 0 15%;
    }

    .md-green {
        width: 0;
        height: 0;
        border-left: 150px solid transparent;
        border-right: 150px solid transparent;
        border-bottom: 200px solid #DC90F3;
        margin: 10% 0 0 45%;
    }

    #flex8 #panoramalight {
        width: 90%;
    }

    #flex11 {
        display: flex;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 5rem;
    }

    .tickets1 {
        padding: 5%;
        color: white;
        background-color: #1d1f22;
        background-image: url(../images/tickets1.png);
        background-size: cover;
        width: 25%;
        margin: 0.7rem;
        height: 200px;
        border: 1px solid;
    }

    .oneday {
        font-weight: 500;
        font-size: .7em;

    }

    .tickets1 h4 {
        font-family: roboto, sans-serif;
        font-weight: 900;
        font-style: normal;
        text-align: center;
        font-size: 2em;
        margin-top: .7rem;
    }

    .tickets1 h5 {
        font-family: roboto, sans-serif;
        font-weight: 900;
        font-style: normal;
        text-align: center;
        font-size: 1.7em;
        margin-bottom: .5rem;
        margin-top: 0.5rem;
    }

    .tickets1 p {
        padding-top: 3%;
    }

    .flex10 {
        display: flex;

        text-align: center;
        justify-content: center
    }

    #dkk {
        font-size: 1em;
        font-weight: 900;
        padding-top: 1.5rem;
    }

    .tickets1 a {
        background-color: #1d1f22;
        color: #ffffff;
        border: 2px solid;
        border-color: #ffffff;
        font-family: roboto, sans-serif;
        font-weight: 900;
        font-style: normal;
        text-align: center;
        text-decoration: none;
        padding: 5%;
        margin-top: 1rem;
    }

    #sale {
        font-size: .7em;
    }

    .price {
        margin-bottom: 0rem;
    }

    #weekendprice {
        margin-bottom: 2rem;
    }

    .tickets1 .movebutton {
        margin-bottom: 3rem;
    }

    #flex8 #ticketsh1 {
        margin: 20% 0 12.5% 0;
    }

    #weekend {
        transform: scale(1.2);
        z-index: -1
    }

    .days {
        z-index: -2
    }

    form {
        margin-bottom: 10%;
    }

    label {
        font-family: rubik, sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 1.5em;
        color: #1D1F22;
    }
    #email {
        width: 25%;
        font-family: rubik, sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1em;
        color: #1D1F22;
    }
    input {
        height: 25px;
    }
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 3em;
    }

    #section6 {
        height: 315px;
    }

    #buymen {
        margin-top: 95px;
    }

    h2 {
        font-size: 2em;
    }

    #countdown {
        font-size: 2.5em;
    }

    #flex2 {
        display: none;
    }

    .pcthings {
        display: block;
    }

    #wrapper {
        padding: 0 1% 1% 1%;
        width: 98%;
    }

    header {
        width: 98%;
    }

    #tabletlogo {
        width: 20%;
        margin: 1%;
    }

    #burgerbar {
        display: none;
    }

    #flex1 {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 40%;
        font-size: 1.3em;
        width: auto;
    }

    #flex1 li a .sm {
        width: 40px;
        position: relative;
        top: -35%;
    }

    #flex1 li {
        margin: 0 25px 0 0;
    }

    .tickets {
        border: none;
    }

    footer #copyright {
        width: 20%;
    }

    #flex2 {
        width: 30%;
    }

    div #footercontact {
        margin: 0 10% 0 0;
        margin-left: 50%;
    }

    #flex3 {
        margin: 1%;
    }

    .sm-green {
        width: 200px;
        height: 200px;
        background: #D8B7F6;
        margin: 10% 0 0 7%;

    }

    .sm-purple {
        width: 250px;
        height: 250px;
        background: #9DA0F9;
        border-radius: 50%;
        margin: 0 0 0 90%;
    }

    .xs-green {
        width: 200px;
        height: 300px;
        background: #886FDE;
        margin: 30% 0 0 15%;
    }

    .md-green {
        width: 0;
        height: 0;
        border-left: 250px solid transparent;
        border-right: 250px solid transparent;
        border-bottom: 200px solid #DC90F3;
        margin: 10% 0 0 45%;
    }

    #countdiv {
        display: block;
    }

    #flex8 #panoramalight {
        width: 80%;
    }

    #flex9 {
        display: flex;
    }

    #flex8 #ticketsh1 {
        margin: 12% 0 7.5% 0;
    }

    #flex11 {
        width: 75%;
    }

    .tickets1 {
        padding: 5%;
        color: white;
        background-color: #1d1f22;
        background-image: url(../images/tickets1.png);
        background-size: cover;
        width: 25%;
        margin: 0.7rem;
        height: 200px;
    }

    .oneday {
        font-weight: 500;
        font-size: .7em;

    }

    .tickets1 h4 {
        font-family: roboto, sans-serif;
        font-weight: 900;
        font-style: normal;
        text-align: center;
        font-size: 2.5em;
        margin-top: .7rem;
    }

    .tickets1 h5 {
        font-family: roboto, sans-serif;
        font-weight: 900;
        font-style: normal;
        text-align: center;
        font-size: 1.75em;
        margin-bottom: .5rem;
        margin-top: 0.5rem;
    }

    .tickets1 p {
        padding-top: 3%;
    }

    .flex10 {
        display: flex;

        text-align: center;
        justify-content: center
    }

    #dkk {
        font-size: 1em;
        font-weight: 900;
        padding-top: 1.9rem;
    }

    .tickets1 a {
        background-color: #1d1f22;
        color: #ffffff;
        border: 2px solid;
        border-color: #ffffff;
        font-family: roboto, sans-serif;
        font-weight: 900;
        font-style: normal;
        text-align: center;
        text-decoration: none;
        padding: 5%;
        margin-top: 1rem;
    }

    .tickets1 a:hover {
        color: #1d1f22;
        background-color: #ffffff;
        border-color: #1d1f22;
    }

    #sale {
        font-size: .7em;
    }

    .price {
        margin-bottom: 0rem;
    }

    #weekendprice {
        margin-bottom: 2rem;
    }

    .tickets1 .movebutton {
        margin-bottom: 3rem;
    }
    label {
        font-family: rubik, sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 2em;
        color: #1D1F22;
    }
    #email {
        width: 15%;
        font-family: rubik, sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.5em;
        color: #1D1F22;
        text-align: center;
    }
    input {
        height: 40px;
        margin-top: 40px;
    }

}

@media screen and (min-width: 1450px) {
    #infofot {
        margin: 0 0 0 7%;
    }
}

@media screen and (min-width: 1600px) {
    #flex1 {
        font-size: 1.5em;
    }

    #flex1 li a .sm {
        top: -30%;
        width: 55px;
    }

    #hide {
        display: none;
    }

    .sm-green {
        width: 200px;
        height: 200px;
        background: #D8B7F6;
        margin: 10% 0 0 40%;

    }

    .sm-purple {
        width: 250px;
        height: 250px;
        background: #9DA0F9;
        border-radius: 50%;
        margin: 0 0 0 65%;
    }

    .xs-green {
        width: 200px;
        height: 300px;
        background: #886FDE;
        margin: 10% 0 0 30%;
    }

    .md-green {
        width: 0;
        height: 0;
        border-left: 250px solid transparent;
        border-right: 250px solid transparent;
        border-bottom: 200px solid #DC90F3;
        margin: 10% 0 0 45%;
    }

    #flex8 h1 {
        margin-top: 10%;
    }

    #flex8 img {
        width: 95%;
    }

    #flex8 #panoramalight {
        width: 95%;
    }

}



/* ----------------------------------------------
 * Generated by Animista on 2020-5-20 12:0:37
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-5-20 12:7:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-top
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-top {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-top {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
