/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* BODY */


#wrapper {
    width: 95%;
    padding: 2.5%;
    padding-top: 0;
    text-align: center;
}

/* BODY ends */

/* FONTS */
h1 {
    font-family: rubik, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.5em;
    color: #1D1F22;
}

p,
h2,
h3,
h4 {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-family: rubik, sans-serif;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-size: 3em;
}

/* FONTS END */
/* HEADER */
header {
    background-color: #1D1F22;
    color: white;
    position: fixed;
    width: 95%;
}

Header img {
    width: 40%;
    margin: 5px;
}

#flex1 {
    display: none;
    flex-direction: row;
    position: absolute;
    top: 5px;
    right: 5px;
}

li {
    margin-right: 10px;
}

div .burger {
    width: 7px;
    height: 7px;
    background-color: white;
    margin: 5px 0;
    border-radius: 50px;
}

#burgerbar {
    position: absolute;
    right: 17.5%;
    top: 22%;
}

#pclogo {
    display: none;
}

#mobillogo {
    width: 17%;
    border-radius: 50%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

/*
/* MAIN */
main {
    padding-top: 59.969px;
}

#mobile-background {
    width: 100%;
}

h1 {
    margin-bottom: 2%;
}

#flex3 {
    background-color: #EBD6E8;
    padding: 20%;
}

#demo {
    font-family: rubik, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 3.5em;
    margin: 10%;
}

#flex4 {
    background-color: #A9DFED;
    padding: 6%;
}

.headlinerText {
    background-color: white;
    padding: 10% 25% 10% 25%;
}

#flex4 img {
    width: 100%;
}

#flex5 {
    background-color: #6A74B7;
    padding: 6%;
}
#flex5 img {
    width: 100%
}
/* MAIN ends */
/* FOOTER */

footer {
    background-color: #1d1F22;
    color: white;
    padding: 10%;
    text-align: left;
}

#flex2 {
    display: flex;
    width: 80%;
    margin: 0 auto;

}

#flex2 img {
    width: 25%;
    margin: 0 auto;
    margin-bottom: 15px;
}

#middle {
    width: 80%;
    margin: 0 auto;
}

/* FOOTER ends */

/* Media queries */
@media screen and (min-width: 1280px) {
    #burgerbar {
        display: none;
    }

    #flex1 {
        display: flex;
    }

    #mobillogo {
        display: none;
    }

    #pclogo {
        display: block;
    }
}
