/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* BODY */


#wrapper {
    width: 95%;
    padding: 2.5%;
    padding-top: 0;
    text-align: center;
}

/* BODY ends */

/* FONTS */
h1 {
    font-family: rubik, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.5em;
    color: #1D1F22;
}

li {
    font-family: rubik, sans-serif;
    font-weight: 900;
    font-style: normal;
}

p,
h2,
h3,
h4 {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-family: rubik, sans-serif;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-size: 3em;
}

/* FONTS END */
/* HEADER */
header {
    background-color: #1D1F22;
    color: white;
    position: fixed;
    width: 95%;
}

Header img {
    width: 40%;
    margin: 5px;
}

#flex1 {
    display: none;
    flex-direction: row;
    position: absolute;
    top: 5px;
    right: 5px;
}

li {
    margin-right: 10px;
}

div .burger {
    width: 7px;
    height: 7px;
    background-color: white;
    margin: 5px 0;
    border-radius: 50px;
}

#burgerbar {
    position: absolute;
    right: 17.5%;
    top: 7px;
    background-color: #1D1F22;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

#pclogo {
    display: none;
}

#mobillogo {
    width: 17%;
    border-radius: 50%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

#burgermenu li {
    font-size: 3em;
    padding: 3.95%;
}

#burgermenu {
    display: none;
}

#closemenu {
    display: none;
    color: white;
    position: absolute;
    right: 5%;
    top: 20px;
    background-color: #1D1F22;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    font-size: 2em;
}
.tilt-in-fwd-tr {
	-webkit-animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/*
/* MAIN */
main {
    padding-top: 59.969px;
}

#mobile-background {
    width: 100%;
    margin: 0 0 10% 0;
}

h1 {
    margin-bottom: 2%;
}


#flex3 {
    background-color: #EBD6E8;
    padding: 15%;
}

#billede2021 {
    margin: 0 0 3% 0;
}

#demo {
    font-family: rubik, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 3.5em;
    margin: 10%;
}

#flex4 {
    background-color: #A9DFED;
    padding: 6% 6% 10% 6%;
}

.headlinerText {
    background-color: white;
    padding: 4%;
}

.headlinerText p,
h2,
h4 {
    text-align: left;
}

.headlinerText h2 {
    margin: 0 0 4% 0;
}

.headlinerText p {
    margin: 0 0 4% 0;
}

.headlinerText h2,
h4 {
    font-weight: bold;
}

#flex4 img {
    width: 100%;
}

#flex5 {
    background-color: #6A74B7;
    padding: 6% 6% 10% 6%;
}

#flex5 img {
    width: 100%
}

/* MAIN ends */
/* FOOTER */

footer {
    background-color: #1d1F22;
    color: white;
    padding: 10%;
    text-align: center;
}

#infofot {
    text-align: left;
}

#infofot h4 {
    font-weight: bolder;
}

#fotlinks {
    margin: 8% 0 0 0;
}

#flex2 {
    display: flex;
    width: 80%;
    margin: 0 auto;

}

#flex2 img {
    width: 45%;
    margin: 0 auto;
    margin-bottom: 15px;
}

#middle {
    width: 80%;
    margin: 0 auto;
}

footer #copyright {
    width: 80%;
    text-align: center;
    padding-top: 8%;
}

/* FOOTER ends */

/* Media queries */
@media screen and (min-width: 1280px) {
    #burgerbar {
        display: none;
    }

    #flex1 {
        display: flex;
    }

    #mobillogo {
        display: none;
    }

    #pclogo {
        display: block;
    }
}



/* WEBKIT */
/* ----------------------------------------------
 * Generated by Animista on 2020-5-20 11:25:37
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tilt-in-fwd-tr
 * ----------------------------------------
 */
@-webkit-keyframes tilt-in-fwd-tr {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
            transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
            transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-fwd-tr {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
            transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
            transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}

